<section class="login-form">
   <form fxLayout="column"
         fxLayoutAlign="center center"
         fxFlex="auto"
         [formGroup]="loginForm"
         fxLayoutGap="10px"
         (ngSubmit)="onSubmit()">
      <!-- email, password, submit -->
      <mat-form-field>
         <input type="email"
                matInput
                placeholder="email"
                formControlName="email">
         <mat-hint>Please enter a valid email</mat-hint>
         <mat-error>Invalid/missing email</mat-error>
      </mat-form-field>

      <mat-form-field>
         <input type="password"
                matInput
                placeholder="password"
                formControlName="password">
         <mat-hint>Please enter your password</mat-hint>
         <mat-error>Missing password!</mat-error>
      </mat-form-field>

      <button type="submit"
              mat-raised-button
              color="accent"
              [disabled]="loginForm.invalid">Login
      </button>
   </form>
</section>